:root {
    --primary: #6F4E37;       /* Коричневый (кофейный) */
    --secondary: #D4B996;     /* Бежевый/кремовый */
    --accent: #f0c55a;        /* Золотистый акцент */
    --dark: #3E2723;          /* Тёмно-коричневый */
    --text: #2C1810;          /* Текст */
    --white: #FFFFFF;



    --font-heading: 'Playfair Display', serif;     /* Заголовки */
    --font-body: 'Inter', sans-serif;              /* Основной текст */
}


.hero {
display: flex;
flex-direction: row;
margin-left: 30px;
margin-top: 40px;
width: 100%;

}

.hero h1 {
    color: var(--accent);
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 30px;
    
}


.hero h3 {
    font-size: 32px;
    color: #94744b;
    text-align: center;
}


.hero p {
font-size: 21px;
color: #94744b;
}

.arrows {
width: 150px;
margin-top: 90px;

}

.coffee-image{
width: 220px;
margin-left: 70px;
margin-top: 30px;
border-radius: 20px;
transition: transform 0.4s, box-shadow 0.3s;
}

.coffee-image:hover {
    transform: scale(1.05);
}

.line {
    height: 5px;
    background: linear-gradient(to left, #e7c8ad, #e4a162, #e7c8ad);
    border: none;
    border-radius: 20px;
}

.why-we {
    display: flex;
    margin-top: 70px;
    gap: 35px;
    justify-content: center;

}

.why-we h2 {
    font-family: var(--font-heading);
}

.why-we p {
    font-size: 20px;
    margin-top: 100px;
}

.one, .two, .three {
    border: 3px solid #94744b;
    border-radius: 10px;
    padding: 10px;
    width: 320px;
    height: 200px;
    text-align: center;
    background-size: cover;
    color: #FFFFFF;
    transition: transform 0.4s;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;  /* Смешвает слои */
}

.one:hover, .two:hover, .three:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px black;
}


.one {
    background-image: url(images/why-we/coffee.jpg);
}

.two {
    background-image: url(images/why-we/sweets.jpg);
}

.three {
    background-image: url(images/why-we/vibe.jpg);
}


.popular-position {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.popular-position-header {
    text-align: center;
    font-size: 34px;
    color: #6F4E37;
}

.popular-position-line {
    width: 400px;
    height: 3px;
    background: linear-gradient(to left, #866852, #f8981a, #917059);
    border-radius: 20px;
}

.position-one, .position-two, .position-three {
width: 700px;
height: 200px;
background: url(images/positions/background.jpg);
display: grid;
grid-template-columns: 40% 60%;
overflow: hidden;
background-size: cover;
background-color: rgba(0, 0, 0, 0.6);
background-blend-mode: multiply;
border-radius: 20px;
color: white;
margin-top: 30px;
box-shadow: 0 0 15px #6F4E37;
transition: transform 0.3s;
}

.position-one:hover, .position-two:hover, .position-three:hover {
    transform: scale(1.05);
}

.position-one h3, .position-two h3, .position-three h3 {
    margin-left: 150px;
    font-weight: 100;
    font-size: 25px;
    color: #D4B996;
}


.position-one img, .position-two img, .position-three img {
   width: 300px;
   justify-self: end;
   box-shadow: 0 20px 40px black;
   filter: brightness(80%);
}


.position-two p, .position-three p, .position-one p {
    width:  400px;
    font-size: 19px;
    text-align: center;
}

.more-detailed {
    text-decoration: none;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 22px;
    border-radius: 10px;
    background: linear-gradient(to right, #6F4E37, #c09b6b);
    padding: 10px;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}


.more-detailed:hover {
    transform: scaleX(1.05) scaleY(1.1);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5)
}


@media (max-width: 1024px) {
    .coffee-image {
        margin-right: 100px;
    }

    .hero p {
        font-size: 21px;
        text-align: center;
    }

    .one, .two, .three {
        width: 250px;
    }

    .position-one, .position-two, .position-three {
        width: 720px;
        height: 180px;
    }

    :is(.position-one, .position-two, .position-three) p {
        font-size: 18px;
        word-wrap: break-word;
        padding-right: 5px;
        padding-left: 7px;
        text-align: center;
    }

}


@media (max-width: 768px) {
    .arrows {
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .coffee-image {
        width: 160px;
    }

    .why-we {
        gap: 10px;
    }

    .one, .two, .three {
       height: 170px;
       width: 210px;
    }

    :is(.one, .two, .three) h2 { 
        height: 50px;
    }

    :is(.one, .two, .three) p {
        margin-top: 60px;
    }

    .position-one, .position-two, .position-three {
        height: 300px;
        width: 500px;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr;
    }

    :is(.position-one, .position-two, .position-three) img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        margin-top: 15px;
        object-position:  center center;
    }

    :is(.position-one, .position-two, .position-three) p {
        margin-top: -10px;
        margin-left: 50px;
    }

    :is(.position-one, .position-two, .position-three) h3 {
        margin-left: 200px;
    }

}


@media (max-width: 480px) {
    .hero h1 {
        font-size: 31px;
    }
    .hero p {
        font-size: 20px;
    }

    .line {
        height: 3px;
        width: 300px;
    }

    .coffee-image {
        width: 130px;
    }

    .why-we {
        flex-direction: column;
        align-items: center;
    }

    .one, .two, .three {
        width: 370px;
        height: 150px;
    }

    :is(.one, .two, .three) p {
        margin-top: 35px;
    }

    .position-one, .position-two, .position-three {
        height: 250px;
        width: 420px;
    }

    :is(.position-one, .position-two, .position-three) p {
        font-size: 17px;
        margin-left: -0px;

    }

    :is(.position-one, .position-two, .position-three) h3 {
        margin-left: 155px;
    }

    :is(.position-one, .position-two, .position-three) img {
        object-position: 50% 56%;
    }

    
}

