:root {
    --primary: #6F4E37;       /* Коричневый (кофейный) */
    --secondary: #D4B996;     /* Бежевый/кремовый */
    --accent: #C9A959;        /* Золотистый акцент */
    --dark: #3E2723;          /* Тёмно-коричневый */
    --text: #2C1810;          /* Текст */
    --white: #FFFFFF;



    --font-heading: 'Playfair Display', serif;     /* Заголовки */
    --font-body: 'Inter', sans-serif;              /* Основной текст */
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    overflow-x: hidden;
}


header {
    display: flex;
    height: 100px;
    width: 100%;
    background: linear-gradient(to right, var(--dark), var(--primary), var(--primary));
    align-items: center;
    z-index: 10;
}

.logo-header {
    display: grid;
    grid-template-columns: auto 1fr;
}

.logo-header img {
    width: 80px;
}

.logo-header p {
 color: var(--white);
 font-size: 22px;
 font-family: var(--font-heading);
 margin-left: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    top: 30px;
    right: 50px;
    
    
}

nav a {
    width: 100px;
    text-align: center;
    border: 2px solid rgb(240, 220, 154);
    font-size: 19px;
    text-decoration: none;
    color: #f3f3f3;
    transition: transform 0.3s;
    background: linear-gradient(to right, #C9A959, #d1af81, #C9A959);
    border-radius: 15px;
    padding: 8px;
    letter-spacing: 3px;
}

nav a:hover {
    transform: scale(1.1);
}


footer {
    margin-top: 50px;
    overflow: hidden;
    height: 380px;
    background: #D4B996;
}

.footer-content {
    padding-top: 10px;
    padding-left: 20px;
}

.description {
    line-height: 25px;
    width: 50%;
}

.description h3 {
   font-size: 22px;
   color: var(--primary);
   font-weight: 600;
}

.description p {
    font-size: 20px;
    color: var(--primary);
    padding-bottom: 20px;
    border-bottom: solid 3px #b17d57;
}

.nav-footer {
    display: flex;
    width: fit-content;
    gap: 10px;
    bottom: 100px;
    flex-direction: column;
    padding-bottom: 20px;
}

.nav-footer a {
    font-size: 20px;
    color: var(--primary);
    text-decoration: none;
    transition: transform 0.3s;
    transform-origin: left;
}

.nav-footer a:hover {
    transform: scale(1.1);
}

.contacts-footer h3 {
    color: var(--primary);
}

.contacts-footer p {
    width: fit-content;
    font-size: 18px;
    color: var(--primary);
    line-height: 15px;
}



.image-footer {
    width: 350px;
    margin-left: 1000px;
    margin-top: -370px;
}


@media (max-width: 1024px) { 
    .image-footer {
        margin-left: 660px;
    }
    footer {
        height: 400px;
    }

}

@media (max-width: 768px) {
.image-footer {
    margin-left: 390px;
}
}

@media (max-width: 480px) {
    .logo-header img {
        margin-bottom: 20px;
        width: 60px;
    }

    .logo-header p {
        font-size: 19px;
        margin-top: 15px;
        margin-left: 7px;
    }

    header nav {
        margin-right: -35px;
        gap: 15px;
    }

    header nav a {
        font-size: 17px;
        width: 80px;
    }

    footer {
        height: 430px;
        font-size: 16px;
    }

    .image-footer {
        width: 200px;
        margin-left: 275px;
    }

    .contacts-footer {
        text-align: center;
    }

    .contacts-footer h3 {
        width: 100%;
    }

    .contacts-footer p {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 17px;
    }

}


